Source: eta-settings
Section: kde
Priority: optional
Maintainer: Yunusemre Şentürk <yunusemre.senturk@pardus.org.tr>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://pardus.org.tr

Package: eta-settings
Architecture: all
Pre-Depends: kdm
Depends: desktop-base,
 eta-cursor-theme,
 eta-icon-theme,
 eta-plasma-themes,
 libreoffice-style-sifr,
 logrotate,
 pardus-x11-settings,
 qtcurve,
 unattended-upgrades
Replaces: kdm
Description: default settings for the ETAP desktop
 This package contains the default settings used by Pardus.

Package: eta-live-settings
Architecture: all
Depends: desktop-base,
 eta-cursor-theme,
 eta-icon-theme,
 eta-plasma-themes,
 libreoffice-style-sifr,
 pardus-x11-settings,
 qtcurve,
 unattended-upgrades
Description: configuration for the Paruds live cd
 This package contains live cd customizations used by Pardus.
